# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\博一\CaGNet-Zero-Shot-Semantic-Segmentation-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
